.container {
  margin: 20px;
}



.toolbarSpan {
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
}

.title {
  font-size: 1.5em;
  color: white;
  border-bottom: 2px solid white;
}


.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
}

.loading-spinner p {
  margin: 0 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  width: 100%;
}