<mat-card class="container mat-elevation-z8">

  <div class="mat-elevation-z8">
    <mat-toolbar color="primary">
      <span class="title">
        Cursos Disponíveis
      </span>
    </mat-toolbar>

    <ng-container *ngIf="loadingSpinner">
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
        <p>CARREGANDO...</p>
      </div>
    </ng-container>

    <app-courses-lit *ngIf="iniciarCarregamentoDados" (addEvent)="onAdd()" [courses]="courses">
    </app-courses-lit>

  </div>
</mat-card>