<mat-card class="container mat-elevation-z8">
  <div class="mat-elevation-z8">
    <mat-toolbar color="primary" class="toolbarSpan">
      <span class="title">
        Cursos Disponíveis
      </span>
    </mat-toolbar>

    <ng-container *ngIf="loadingSpinner">
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
        <p>CARREGANDO...</p>
      </div>
    </ng-container>

    <app-courses-list *ngIf="loading" (addEvent)="onAdd()" (editEvent)="onEdit($event)" (remove)="onRemove($event)"
      [courses]="courses">
    </app-courses-list>

    <mat-toolbar class="toolbarLesson">

      <button color="accent" (click)="toggleLessonTable()">
        Aulas
      </button>

      <table class="lesson-fields" *ngIf="showLessonsTable">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Título da Aula:</mat-label>
              <input matInput formControlName="name" aria-label="none" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <mat-label>URL:</mat-label>
              <input matInput formControlName="name" aria-label="none" />
            </mat-form-field>
          </td>
        </tr>
      </table>

    </mat-toolbar>

  </div>
</mat-card>